/* *****************************************************

    ** Custom Stylesheet **

    Any custom styling you want to apply should be
    defined here.

***************************************************** */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
.main-content > p[style="text-align:center;"]{ display: none;}
.navbar-main{ min-height:40px;}
    .navbar-nav>li>a{line-height: 22px;}

/* Carousel base class */
.carousel {
    min-height:200px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
    padding-bottom:0;
    padding-top: 0;
}
.carousel-caption h2,.carousel-caption h3,.carousel-caption h4{
    background-color:rgba(0, 134, 90, 0.6);
    margin:0;
    font-size:24px;
    padding: 5px;
}
/* Declare heights because of positioning of img element */
.carousel .item {

    background-color: #777;
}
.carousel-inner > .item > img{
    margin: 0 auto;
    min-height:200px;
    width: 100%;
}
.main-content,
section#main-body{ min-height:0;}
section#home-banner{ background-color: #efefef; color: #444;}
.whyhome{font-family: 'Raleway', sans-serif; font-weight: 300;}
    h1.article-title {text-align: center;margin-bottom: 30px; color: #006687; text-shadow: 0 2px 0 rgba(0,0,0,0.2);}
    .whyhome h2{font-family: 'Raleway', sans-serif; font-weight: 300;}
    .whyhome img{ max-width:100%; height:auto;}
section#footer {border-top: 20px solid #006687; background: #efefef; color: #555555;}
    section#footer h3{ color: #444;}
    section#footer p{ border-top:0;}
    section#footer ul{list-style: none; margin-left: 0; margin-bottom: 0; padding-left: 0;}
        section#footer ul li{line-height: 24px;}
            section#footer ul li a{color: #555555; font-size: 15px; padding-bottom: 5px; display: block;}
            .padaddr {padding-left: 12px; display: inline-block;}
            .contactbreak {display: block;  margin-top: 10px;}
        .cards-col{ text-align: center;}
        .cards-col > a{ margin-top:20px; display: block; margin-bottom: 20px;}
        .cards-col img{ max-width:100%; height:auto;}
.price > em {font-size: 10px;}
.pricely-chart li.breaker {color: #555;background: #ddd; font-size: 19px;}
.pricely-chart .list-group-item {padding: 10px 15px;}
span.feature-hide {visibility: hidden;}
.bronze{
    background: #f3e2c7; /* Old browsers */
    background: -moz-linear-gradient(top,  #f3e2c7 0%, #c19e67 50%, #b68d4c 51%, #e9d4b3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3e2c7), color-stop(50%,#c19e67), color-stop(51%,#b68d4c), color-stop(100%,#e9d4b3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f3e2c7 0%,#c19e67 50%,#b68d4c 51%,#e9d4b3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f3e2c7 0%,#c19e67 50%,#b68d4c 51%,#e9d4b3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f3e2c7 0%,#c19e67 50%,#b68d4c 51%,#e9d4b3 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f3e2c7 0%,#c19e67 50%,#b68d4c 51%,#e9d4b3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3',GradientType=0 ); /* IE6-9 */
}
.silver{
    background: #e2e2e2; /* Old browsers */
    background: -moz-linear-gradient(top,  #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
}
.gold{
    background: #fceabb; /* Old browsers */
    background: -moz-linear-gradient(top,  #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fceabb), color-stop(50%,#fccd4d), color-stop(51%,#f8b500), color-stop(100%,#fbdf93)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */
}
@media (max-width: 768px){
    span.feature-hide {
        visibility: visible;
    }
    .pricely-hosting .panel-heading {
        min-height: 175px !important;
    }
    .pricely-professional li.breaker .feature-hide {
        color: inherit !important;
    }
    .carousel-caption{
        font-size:12px;
    }
    .carousel-caption h2, .carousel-caption h3, .carousel-caption h4{ font-size:18px;}
}
@media (max-width: 600px){
    section#footer h3 {
        font-size: 24px;
    }
}

